{% extends 'base.html' %}
{% block content %}
    <div class="wrapper row" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
        <form method="post" class="col-sm-12 col-md-6">
            {% csrf_token %}
            <h3>Set new password</h3>
            {% for field in form %}
                <div style="margin-bottom: 10px;">
                    {{ field.label }}: <br>
                    {{ field }}
                    {% for erroe in field.errors %}
                        {{ error }} <br>
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" value="change" class="button" style="margin-top: 20px;">
        </form>
    </div>
    <style>
        input[type=password] {
            display: block;
            width: 100%;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
            margin: 0;
        }

        label {
            display: none;
        }
    </style>
{% endblock %}