{% extends 'base.html' %}
{% block content %}
    <div class="wrapper row" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
        <form method="post" class="col-md-6 col-sm-12" style="display: block;">
            {% csrf_token %}
                <h3 style="margin-bottom: 10px;">Enter your email:</h3>
                <div style="padding: 0;">
                    {{ form.as_p }}
                </div>
                <input type="submit" class="button" value="submit">
        </form>
    </div>
    <style>
        input[type=email] {
            display: block;
            width: 100%;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
            margin: 0;
        }
        label {
            display: none;
        }
    </style>
{% endblock %}